<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentación</title>
    <link
      rel="shortcut icon"
      href="@@webRoot/../img/karel-up.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="@@webRoot/../css/docsStyle.css" />
    <link
      href="@@webRoot/../vendor/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="@@webRoot/../vendor/bootstrap-icons/font/bootstrap-icons.min.css"
    />
    <!-- TODO: Move this into a stylesheet -->
  </head>

  <body data-bs-theme="light" data-root="@@webRoot">
    <div class="m-4 bg-body position-sticky top-0 width-100 border-bottom">
      <a href="@@webRoot/..">Regresar a ReKarel</a>
    </div>
    <h1 class="ms-4">
      @@if(context.extra.header) {
        @@extra.header
      }
    </h1>
    <hr>
    <div>

    </div>
    <div class="container">
      @@substance          
    </div>
    <script src="@@webRoot/../vendor/jquery/dist/jquery.min.js"></script>
    <script src="@@webRoot/../vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>
